parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.#'
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
